extends layout

block title
    | #{title}
append head
    link(rel='stylesheet', href='/static/css/show-resume.css')
    link(rel='stylesheet', href='/assets/vendor/bootstrap/css/datetimepicker.css')
block main-content
    article.container
        section.row.row-style.row-padding-bottom
            div.span12.padding-nav-top
                div.row
                    div.span8
                        div#resume-name.span8.name-content #{resume.name}
                        div#resume-id.span8(style='display:none') #{resume.id}
                        div.row
                            div.span3
                                h3
                                    | Email
                                div#email.contact-info #{resume.email}
                                h3
                                    | Age
                                div#age.contact-info #{resume.age}
                            div.span3.offset1
                                h3
                                    |Gender
                                div#gender.contact-info #{resume.gender}
                                h3
                                    | Address
                                div#address.contact-info #{resume.address}
                            div.span1
                                button#btn-show-edit-resume.btn.btn-color(data-toggle='modal',data-target='#edit-resume',type='button') 编辑

        section.row.row-style.row-padding-bottom
            div.span12.block-left
                div.row
                    div.span8
                        h1
                            | Education
                    div.span4
                        div.span2.offset2
                            button#btn-show-add-education.btn.btn-color(data-toggle='modal', data-target='#edit-education',data-index='#{resume.id}', type='button') 添加

            if educationList.length > 0
                div.span12
                    div.span3
                        h3
                            | University
                    div.span3
                        h3
                            | Period
                    div.span3
                        h3
                            | Major
                - for (var i=0;i<educationList.length;i++)
                    div.span12(id='education-list#{educationList[i].id}')
                        div.span3(id='university#{educationList[i].id}')
                            | #{educationList[i].school}
                        div.span3(id='university-period#{educationList[i].id}')
                            | #{educationList[i].range}
                        div.span3(id='university-major#{educationList[i].id}')
                            | #{educationList[i].major}
                        div.span2
                            button.btn.btn-show-edit-education.btn-color(data-toggle='modal', data-target='#edit-education', data-index='#{educationList[i].id}',type='button') 编辑
                            span
                                button.btn.btn-delete-education.btn-color(type='button', data-index='#{educationList[i].id}') 删除
                                                                  
        section.row.row-style.row-padding-bottom
           div.span12.block-left
                div.row
                    div.span8
                        h1
                            | Projects
                    div.span4
                        div.span2.offset2
                            button#btn-show-add-project.btn.btn-color(data-toggle='modal', data-target='#edit-project',data-index='#{resume.id}', type='button') 添加
            div.span12
                div.tabbable
                    ul.nav.nav-tabs
                        if projectList.length > 0
                            - for (var i=0;i<projectList.length;i++)
                                li(id='project-list#{projectList[i].id}')
                                    a(href="#tab#{projectList[i].id}",data-toggle="tab") pro#{i+1}

                    div.tab-content
                        if projectList.length > 0
                            - for (var i=0;i<projectList.length;i++)
                                div.span11.tab-pane(id="tab#{projectList[i].id}")
                                    div.row
                                        div.span3.project-range(id="company#{i+1}")
                                            | #{projectList[i].company}
                                        div.span3.project-range(id="company-period#{i+1}")
                                            | #{projectList[i].range}
                                        div.span2.offset3
                                            button.btn.btn-show-edit-project.btn-color(data-toggle='modal', data-target='#edit-project', data-index='#{projectList[i].id}',type='button') 编辑
                                            span
                                                button.btn.btn-delete-project.btn-color(type='button', data-index='#{projectList[i].id}') 删除
                                    p.first-upper.paragraph-indent(id="company-description#{i+1}")
                                            | #{projectList[i].description}


    div#edit-resume.modal.hide.fade
        div.modal-header
            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
            h3
                | edit resume
        div.modal-body
            form#edit-resume-form(action='/resumes/#{resume.id}', method='POST')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-name') Name:
                        div.span4
                            input#edit-name(type='text',size='22',name='resume_name')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-email') Email:
                        div.span4
                            input#edit-email(type='text',size='22',name='email')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-age') Age:
                        div.span4
                            input#edit-age(type='text',size='22',name='age')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-gender') Gender:
                        div.span4
                            input#edit-gender(type='text',size='22',name='gender')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-address') Address:
                        div.span4
                            input#edit-address(type='text',size='22',name='address')
        div.modal-footer
            button.btn(data-dismiss='modal',aria-hidden='true') 关闭
            button#btn-edit-resume-submit.btn.btn-primary 保存

    div#edit-education.modal.hide.fade
        div.modal-header
            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
            h3
                | edit education
        div.modal-body
            form#edit-education-form(action='/resumes/#{resume.id}/education/', method='POST')
                input#education-list-index(type='hidden', name='edit_index', value='')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-university') University:
                        div.span4
                            input#edit-university(type='text',name='edit_university')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-university-period-from') From:
                        div.span4
                            input#edit-university-period-from.form_datetime(type='text',name='edit_university_period_from',readonly)
                div.span5
                    div.row
                        div.span1
                            label(for='edit-university-period-to') To:
                        div.span4
                            input#edit-university-period-to.form_datetime(type='text',name='edit_university_period_to',readonly)
                div.span5
                    div.row
                        div.span1
                            label(for='edit-university-major') Major:
                        div.span4
                            input#edit-university-major(type='text',name='edit_university_major')
        div.modal-footer
            button.btn(data-dismiss='modal',aria-hidden='true') 关闭
            button#btn-edit-education-submit.btn.btn-primary(data-dismiss='modal') 保存

    div#edit-project.modal.hide.fade
        div.modal-header
            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
            h3
                | edit project
        div.modal-body
            form#edit-project-form(action='/resumes/#{resume.id}/projects/', method='POST')
                input#project-list-index(type='hidden', name='edit_index', value='')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-company') Company:
                        div.span4
                            input#edit-company(type='text',name='edit_company')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-company-period-from') From:
                        div.span4
                            input#edit-company-period-from.form_datetime(type='text',name='edit_company_period_from',readonly)
                div.span5
                    div.row
                        div.span1
                            label(for='edit-company-period-to') To:
                        div.span4
                            input#edit-company-period-to.form_datetime(type='text',name='edit_company_period_to',readonly)
                div.span5
                    div.row
                        div.span1
                            label(for='edit-company-description') Description:
                        div.span4
                            textarea#edit-company-description(type='text',name='edit_company_description',rows="5")
        div.modal-footer
            button.btn(data-dismiss='modal',aria-hidden='true') 关闭
            button#btn-edit-project-submit.btn.btn-primary(data-dismiss='modal') 保存

block scripts
    script(type='text/javascript', src='/assets/vendor/bootstrap/js/bootstrap-datetimepicker.js')
    script(type='text/javascript', src='/assets/vendor/jquery/jquery.validate.js')
    script(type='text/javascript', src='/assets/vendor/jquery/jquery.validate.messages_cn.js')
    script(type='text/javascript', src='/assets/js/show-resume.js')