extends layout

block title
    | show resume info
append head
    link(rel='stylesheet', href='/static/css/show-resume.css')
    link(rel='stylesheet', href='/assets/vendor/bootstrap/css/datetimepicker.css')
block main-content
    article.container
        section.row.row-style.row-padding-bottom
            div.span12.padding-nav-top
                div.row
                    div.span8
                        div#resume-name.span8.name-content #{allInfo.resume.name}
                        div#resume-id.span8(style='display:none') #{allInfo.resume.id}
                        div.row
                            div.span3
                                h3
                                    | Email
                                div#email.contact-info #{allInfo.resume.email}
                                h3
                                    | Age
                                div#age.contact-info #{allInfo.resume.age}
                            div.span3.offset1
                                h3
                                    |Gender
                                div#gender.contact-info #{allInfo.resume.gender}
                                h3
                                    | Address
                                div#address.contact-info #{allInfo.resume.address}
                            div.span1
                                button#btn-show-edit-resume.btn.btn-color(data-toggle='modal',data-target='#edit-resume',type='button') edit
                    div.span4
                        div.span3
                            div.name-content
                                | user
                        div.span1
                            h3
                                | Name
                        div.span2.contact-info.user-name-top #{allInfo.user.name}
                        div.span3
                            h3
                                | Email
                            div.contact-info #{allInfo.user.email}
        section.row.row-style.row-padding-bottom
            div.span12.block-left
                div.row
                    div.span8
                        h1
                            | Education
                    div.span4
                        div.span2.offset2
                            button#btn-show-add-education.btn.btn-color(data-toggle='modal', data-target='#edit-education',data-index='#{allInfo.resume.id}', type='button') add

            if allInfo.educations.length > 0
                div.span12
                    div.span3
                        h3
                            | University
                    div.span3
                        h3
                            | Period
                    div.span3
                        h3
                            | Major
                each education in allInfo.educations
                    div.span12(id='education-list#{education.id}')
                        div.span3(id='university#{education.id}')
                            | #{education.school}
                        div.span3(id='university-period#{education.id}')
                            | #{education.range}
                        div.span3(id='university-major#{education.id}')
                            | #{education.major}
                        div.span2
                            button.btn.btn-show-edit-education.btn-color(data-toggle='modal', data-target='#edit-education', data-index='#{education.id}',type='button') edit
                            span
                                button.btn.btn-delete-education.btn-color(type='button', data-index='#{education.id}') delete
                                                                  
        section.row.row-style.row-padding-bottom
           div.span12.block-left
                div.row
                    div.span8
                        h1
                            | Projects
                    div.span4
                        div.span2.offset2
                            button#btn-show-add-project.btn.btn-color(data-toggle='modal', data-target='#edit-project',data-index='#{allInfo.resume.id}', type='button') add
            div.span12
                div.tabbable
                    ul.nav.nav-tabs
                        if allInfo.projects.length > 0
                            - for (var i=0;i<allInfo.projects.length;i++)
                                li(id='project-list#{allInfo.projects[i].id}')
                                    a(href="#tab#{allInfo.projects[i].id}",data-toggle="tab") pro#{i+1}

                    div.tab-content
                        if allInfo.projects.length > 0
                            - for (var i=0;i<allInfo.projects.length;i++)
                                div.span11.tab-pane(id="tab#{allInfo.projects[i].id}")
                                    div.row
                                        div.span3.project-range(id="company#{allInfo.projects[i].id}")
                                            | #{allInfo.projects[i].company}
                                        div.span3.project-range(id="company-period#{allInfo.projects[i].id}")
                                            | #{allInfo.projects[i].range}
                                        div.span2.offset3
                                            button.btn.btn-show-edit-project.btn-color(data-toggle='modal', data-target='#edit-project', data-index='#{allInfo.projects[i].id}',type='button') edit
                                            span
                                                button.btn.btn-delete-project.btn-color(type='button', data-index='#{allInfo.projects[i].id}') delete
                                    p.first-upper.paragraph-indent(id="company-description#{allInfo.projects[i].id}")
                                            | #{allInfo.projects[i].description}


    include edit-resume

    include edit-education

    include edit-project

block scripts
    script(type='text/javascript', src='/assets/vendor/bootstrap/js/bootstrap-datetimepicker.js')
    script(type='text/javascript', src='/assets/vendor/jquery/jquery.validate.js')
    script(type='text/javascript', src='/assets/vendor/jquery/jquery.validate.messages_cn.js')
    script(type='text/javascript', src='/assets/js/show-resume.js')